/* Global */
:root {
  --magic-8-ball-color: #000;
  --triangle-color: #165eca;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}

p {
  font-size: 1.3rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

/* Header */
header {
  margin: 0 1rem;
}

header h1 {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 4rem;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1.5rem;
}

/* Magic 8 Ball  */
#main #outer-div {
  width: 300px;
  height: 300px;
}
#main #magic-8-ball {
  background: var(--magic-8-ball-color);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
}

.on-click {
  animation: bounce 300ms 5;
  animation-timing-function: ease;
}

@keyframes bounce {
  0% {
    bottom: 3px;
  }
  25%,
  75% {
    bottom: 10px;
  }
  50% {
    bottom: 15px;
  }
  100% {
    bottom: 0;
  }
}

#main #triangle {
  display: inline-block;
  position: absolute;
  top: 25%;
  left: 23%;
  width: 0;
  height: 0;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  border-bottom: 130px solid var(--triangle-color);
}

#main #triangle .answers {
  color: #fff;
  display: flex;
  margin-top: 3.3rem;
  justify-content: center;
  font-size: 0.8rem;
  text-align: center;
}

#text-input {
  margin-top: 1rem;
}
#main .btn {
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  padding: 0.3rem 1rem;
}
